<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th colspan='5' style="text-align: center;">Twoje zamówienie</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Cena za sztukę</th>
            <th>Ilość</th>
            <th>Łączna cena</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor='let order of sortedList; let i = index' (dblclick)=click(i)>
        <td>{{ i+1 }}.</td>  
        <td>{{ order.name }}</td>
        <td>{{ order.price }}</td>
        <td *ngIf ='!isVisible[i]'>{{ order.quantity }}</td>
        <td *ngIf ='isVisible[i]'><input #box type='text' (keyup.enter) = enter(i) [ngModel] ='{{order.quantity}}'></td>
        <td>{{ order.price*order.quantity }}</td> 
    </tr>
    </tbody> 
</table>
<p>* kliknij dwukrotnie, żeby edytować zamówioną ilość</p>
