
.firstLi {
    border-bottom: 1px dashed grey;
}
.lastLi {
    border-top: 1px dashed grey;
}
ul {
    
    display: block;
    justify-content: left;
    height: 100%;
}
li {
    text-align: left;
}
#lastLi {
    text-align: right;
}
