body {
    align-items: center;
    background-image: url(tlo.jpg);
    font-family: fantasy;
    font-weight: 200;
    
}
.container{
    width: 600px;
    height: 600px;
    background: rgb(239, 239, 241);
    color: black;
    display: block;
    align-items: center;
    margin: 50px auto;
    border:1px dashed grey;
    padding:20px;
    position: relative;
}
.menu {
    padding-top: 40px;
    font-size: 1.25em ;
    width: 30%;
    height: 100%;
    float: left;
    text-transform: uppercase;
    line-height: 100%;
    text-align: center;
    font-weight: 300; 
}
ul {
    list-style-type: none;
}
